.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: blueviolet;
  opacity : 0.6;
  border-top:2px solid ;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
 }

 .login{
  margin:20px;
  width: 50%;
  border: 2px solid black;
  background-color: rgba(245, 245, 245, 0.4);
  padding: 20px;
  font-size: 1.5rem;
 }

 .home{
  margin:20px;
  width: 50%;
  border: 2px solid black;
  background-color: rgba(245, 245, 245, 0.4);
  padding: 50px;
  font-size: 1.5rem;
 }

 .hire{
  margin:20px;
  width: 50%;
  border: 2px solid black;
  background-color: rgba(245, 245, 245, 0.4);
  padding: 100px;
  font-size: 1.5rem;
 }

 .support{
  margin:20px;
  width: 50%;
  border: 2px solid black;
  background-color: rgba(245, 245, 245, 0.4);
  padding: 100px;
  font-size: 1.5rem;
 }